body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f001a;
    
}
body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(
        -45deg,
        #12091f,
        #2a0f45,
        #3f1368,
        #5a189a
    );
    background-size: 400% 400%;
    
    animation: gradientMauve 18s ease infinite;


    color: #ffffff;
    font-family: system-ui, sans-serif;
}

@keyframes gradientMauve {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.card {
  background-color: #1b0f2f;
  border-radius: 18px;
  padding: 24px;
  color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
#header{
    /*background-color: #180029;*/
    color: #edd3ff;
    height: 100px;
    text-align: center;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}
#header > *{
    display: inline;
}
#header h1{
    width: calc(100% - 120px);
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    margin: 0;
}
#logo{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    vertical-align: middle;
}
nav{
    color: #edd3ff;
    padding: 10px;
    right: 0;
    position: absolute;
    left: auto;
    top: 50px;
    width: 30%;
    height: 50px;
    
}
nav a{
    color: #edd3ff;
    text-decoration: none;
    margin: 0 10px;
    font-size: medium;
    transition: all 0.3s ease;
    vertical-align: middle;
}
nav a:hover{
    /*text-decoration: underline;*/
    font-size: larger;
    font-weight: bold;
}
nav a span{
    display: inline-block;
    transition: transform 0.3s ease;
    padding-bottom: 0px;
}
nav a:hover span{
    transform: rotate(180deg);
    padding-bottom: 3px;
}
#dropdown{
    position: absolute;
    top: 90px;
    width: 19%;
    left: 76%;
    background-color: #1b0f2f;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    animation: moveUp 0.3s ease forwards;
}
#dropdownAnim{
    animation: moveDown 0.3s ease forwards;
}
#dropdownAnimReverse{
    animation: moveUp 0.3s ease forwards;
}
#dropdown a{
    display: block;
    text-align: left;
    padding: 10px;
    color: #edd3ff;
    text-decoration: none;
    font-size: medium;
    transition: all 0.3s ease;
    height: 21px;
}
#dropdown a:hover{
    font-weight: bold;
}
@keyframes moveDown {
    from { 
        height: 0px; 
        display: none;
    }
    to { 
        height: calc(41px * 10);
        display: block;
    }
}
@keyframes moveUp {
    from { 
        height: calc(41px * 10);
        display: block;
    }
    to { 
        height: 0px;
        display: none;
    }
}
.content{
    padding: 20px;
    max-width: 800px;
    margin: 80px auto 60px auto;
    /*background-color: #1a0026;*/
}
.content h2{
    color: #d1a3ff;
    text-align: center;
}
.content p{
    color: #ffffff;
    line-height: 1.6;
}
.content img{
    text-align: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    box-shadow: #0f001a 0px 4px 6px -1px, #0f001a 0px 2px 4px -1px;
    border-radius: 18px;
}
.imgNav{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    gap: 20px;
    margin-top: 20px;
    background-color: black;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.imgNav img{
    width: 150px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.imgNav img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.imgNav h3{
    color: #d1a3ff;
    width: 150px;
    text-align: center;
}
.imgNavCase{
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1b0f2f;
    border-radius: 18px;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
body > .content{
    margin-bottom: 100px;
}
#footer{
    color: #edd3ff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}