body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f001a;
}
body {
    min-height: 100dvh;
    margin: 0;
    background: linear-gradient(
        -45deg,
        #12091f,
        #2a0f45,
        #3f1368,
        #5a189a
    );
    background-size: 400% 400%;
    
    animation: gradientMauve 18s ease infinite;


    color: #360047;
    font-family: system-ui, sans-serif;
}
@keyframes gradientMauve {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*navigation bar*/
#logo{
  height: 5dvw;
}
#title{
  text-align: center;
  font-size: 3dvw;
  color: #D5C7FF;
}
#td{
  margin: auto;
}
#header {
  margin-top: 0;
  background-color: #180029;
  width: 100vw;
}
#header td {
  width: 33.33%;       /* Divides the 100% table width equally among the 3 TDs */
  padding: 10px;
}
#nav td{
  width: fit-content;
}
#nav{
  text-align: right;
}
#nav-table{
  margin-left: auto;
  margin-right: 1dvw;
  table-layout: fixed;
}
#nav-table a{
  color: #D5C7FF;
  text-decoration: none;
  text-align: center;
  padding: 0.4dvw;
  font-size: 1dvw;
  transition: 0.5s;
}
#nav-table a:hover{
  color: #FFFFFF;
  font-size: 1.1dvw;
}
/*page*/
.content{
  padding: 0.1dvw 0.5dvw;
  background-color: #E8E0FF;
  margin: 1dvw;
  border-radius: 1dvw;
  font-size: 1dvw;
}
.content h2{
  text-align: center;
}
.content img{
  position: relative;
  border-radius: 1dvw;
  width: 35dvw
}
.content h3{
  text-align: center;
}
.content td{
  padding: 0.5dvw;
}
.content a img{
  transform: scale(1);
  transition: 0.5s;
}
.content a img:hover{
  transform: scale(1.05);
}

/*footer*/
#footer{
  text-align: center;
  padding: 0.5dvw;
  background-color: #180029;
  color: #D5C7FF;
  font-size: 1dvw;
}